{% extends 'base.html.twig' %}

{% block title 'Enregrister une voiture' %}

{% block body %}
    <div>
        <h1 align="center">Enregistrer une voiture</h1>
        <br><br><br>
        {{ form_start(form) }}
        <div>{{ form_row(form.name) }}</div>
        <div>{{ form_row(form.nbSeat) }}</div>
        <div>{{ form_row(form.color) }} (ex : #000000) </div>
        <div>{{ form_row(form.height) }} (ex : 123.45) </div>
        <div>{{ form_row(form.width) }} (ex : 123.45)</div>
    </div>
    {{ form_widget(form) }}
    <button class="btn btn-secondary">{{ button|default('Enregistrer') }}</button>
    {{ form_end(form) }}
{% endblock %}